.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
/httpServer
/p2pmanager
/RadarScanView
/randomtextview
/rippleoutlayout
/rippleview
/gradlew.bat
/AnyShareOfAndroid.iml
/filetransfer.gif
/gradlew
/gradle.properties
/gradle
